.button {
  width: max-content;
  height: 36px;
  border-radius: 6px;
  border: solid 1px #6b7480;
  background-color: #ffffff;

  font-size: 1rem;
  line-height: 1.5;
  color: #6b7480;
}

.button.primary {
  background-color: #51c1c3;
  color: #ffffff;
  border: none;
}
