.currentRefund {
  background-color: #f4f6fa;
  margin: 0;
  min-height: 95vh;
  padding: 12px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

@media only screen and (min-width: 920px) {
  .currentRefund {
    grid-template-columns: 65% 35%;
    grid-template-rows: max-content;
    margin: 5vh 0 0 15vw;
    padding: 12px 48px;
  }
}
