.breadcrumb {
  margin: 12px 48px;
  color: #5f6772;
}

.breadcrumb__anchorLinks {
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  color: #51c1c3;
}

.breadcrumb__anchorLinks:last-of-type {
  color: #5f6772;
}
